.body {
  margin: 0;
  padding: 0;
  height: max-content;
  width: 100%;
  background-color: #efeded;
  padding-bottom: 100px;
}

.loading {
  height: max-content;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #ffffff;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

.todo {
  width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333333;
  text-align: center;
}

.actions {
  margin-top: 20px;
}

.action {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.action h3 {
  font-weight: 500;
  margin-bottom: 10px;
  color: #333333;
}

.action p {
  color: #777777;
  margin-bottom: 5px;
}

.progress {
  margin-top: 20px;
}

.progress p {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading p {
  margin-top: 10px;
  color: #777777;
}

.sideSection {
  width: 40%;
  padding: 20px;
  border-radius: 4px;
  margin-left: 20px;
}

.sideSection h2 {
  font-size: 35px;
  font-weight: 600;
  width: 300px;
  margin-bottom: 20px;
  color: #666159;
}

.sideSection .answer {
  margin-bottom: 20px;
}

.sideSection .answer p {
  margin-bottom: 5px;
  color: #8a847f;
}

.progressBar {
  width: 100%;
  height: 20px;
  background-color: #d4dbd9;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-top: 20px;
}

.progressFill {
  height: 100%;
  background-color: #3f6859;
  width: 0;
  transition: width 0.5s ease;
}

.progressPercentage {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.progressPercentage p {
  margin-top: 10px;
  font-size: 16px;
}
