.interestGroupListContainer {
  padding-bottom: 500px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.noInterestGroups {
  height: 35vw;
  display: flex;
  justify-content: center;
  font-weight: 450;
  font-size: 20px;
  margin-top: 0px;
}
