
.markdown{
    color: #879497;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    max-width: 80vw;
    width: 690px;
    margin-left: 2vw;
    margin-bottom: 30px;
    color: #4A6289;
}

.markdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 500px;
}

.markdown h1 {
    color: #3D516F;
    font-size: 34px;
    margin-bottom: 1em;
    font-weight: 500;
}

.markdown strong{
    color: #498999;
}

.markdown p {
  width: 74vw;
  margin-bottom: 1em;
  color: #4A6289;
  line-height: 1.7em;
}

.markdown li:last-child{
  margin-bottom: 1em;
}

.markDownContainer{
    background-color: #DDE4E5;
    padding:0px 70px;
}

.markDownLayer{
    background-color: white;
    padding: 60px;
}