.container{
    width: max-content;
    margin: 30px;
    margin-top: 0px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid ;
    border-color: rgba(220, 226, 234);
}

.innerContainer{
    background-color:rgba(220, 226, 234, 0.37);
    padding: 40px 50px;
}
.textFieldContainer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 15px;
    margin-top: 20px;
}

.subTitle{
  margin-right: 30px;
  color: #000000;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 500;
}

.title{
    color: #778ABA;
    font-weight: 600;
    margin-bottom: 20px;
}

.input{
    background-color: white;
}

.secondSubTitle{
    color: rgba(95, 93, 93, 0.5);
    font-size: 14px;
    margin-right: 10px;
}

.inputMultiline{
    background-color: white;
    height: 150px;
}

.image{
    width: 300px;
    height: 200px;
    margin: auto;
    margin-left: 185px;
}

@media (max-width: 900px) {

    .container{
        margin: auto;
        margin-bottom: 50px;
    }
  
    .textFieldContainer{
        width: max-content;
        display: block;
        text-align: start;
    }

    .subTitle{
        margin-right: 0px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .image{
        width: 300px;
        height: 200px;
        margin: auto;
    }
}