.all {
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 12px;
  padding: 16px;
}

.subtitle {
  padding: 8px 0px;
  font-size: 1.1rem;
  color: darkred
}

.cardcontent {
  /* padding-left: 16px; */
  padding-bottom: 30px;
}

.coursetitle {
  margin-top: 16px;
}

.text {
  white-space: pre-line
}

.container{
  background-color: antiquewhite;
  background-position: 0% 6%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px;
  padding-left: 150px;
  z-index: 1;
  height: 300px;
  color: white;
  text-align: center;
}

.headerTitle{
  font-size: 28px;
  font-weight: 440;
}

.headerDescription{
  margin-top: 50px;
  line-height: 150%;
  font-weight: 350;
  word-spacing: 10%;
}

.gridContainer{
  max-width: 80vw;
}